body * {
    font-family: 'Source Sans Pro', 'Roboto', sans-serif !important;
}

.v-autocomplete {
    font-size: 0.8em;
}

.SkeletonBox {
	 display: inline-block;
	 vertical-align: middle;
	 background-color: white;
}

.scroll {
	overflow-y: scroll;
}