{% extends 'base.html' %}

{% block body %}
<body>
<!--<div class="container-fluid clearfix">-->
<!--    <a class="float-end me-3" href="#">Login</a>-->
<!--</div>-->

<header class="container-fluid pt-3 pb-3" style="background: CornflowerBlue;">
    <h1 style="text-align: center"><a style="color: black; text-decoration: none" href="/">SimDB Dashboard</a></h1>
</header>

<div class="container-fluid">
    <div class="row">
        <div id="sideBar" class="col-md-4 d-md-block bg-light sidebar collapse">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Search Simulations</h1>
            </div>
            <div class="mb-3">
                <label for="simdb-server">SimDB Server</label>
                <input id="simdb-server" type="input" value="data.iter.org"/>
            </div>

            <div id="search-fields">
                <div class="input-group mb-3">
                    <label class="input-group-text column col-md-6" for="workflow.name">Shot</label>
                    <input type="number" class="form-control" id="shot"/>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text column col-md-6" for="workflow.name">Run</label>
                    <input type="number" class="form-control" id="run"/>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text column col-md-6" for="workflow.name">Workflow Name</label>
                    <input type="text" class="form-control" id="workflow.name"/>
                </div>
                <div class="input-group mb-3">
                    <input type="text" id="myAutocomplete" class="form-control column col-md-4"/>
                    <input type="text" class="form-control" id="meta.data.1"/>
                </div>
            </div>
            <div class="col-md-12 clearfix">
                <div class="btn-group mb-3 float-end" role="group">
                    <button class="btn btn-secondary" id="add-search-btn">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="btn-group mb-3 float-end" role="group">
                <button class="btn btn-primary">Search</button>
                <button class="btn btn-secondary">Reset</button>
            </div>
        </div>

        <main class="col-md-8 ms-sm-auto px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Search Results</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Compare</button>
                    </div>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-header clearfix p-1" id="panelsStayOpen-headingOne">
                        <span style="vertical-align: middle">
                            <input type="checkbox" class="form-check-input ms-2" />
                            <a href="simulation/uuid/b3fc50ee" class="ms-1 me-3" >b3fc50ee 100001/1</a>
                        </span>
                        <button class="accordion-toggle collapsed btn btn-secondary float-end" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                            <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Shot</td>
                                    <td>100001</td>
                                </tr>
                                <tr>
                                    <td>Run</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Responsible Name</td>
                                    <td>M. Schneider</td>
                                </tr>
                                <tr>
                                    <td>Workflow Name</td>
                                    <td>METIS</td>
                                </tr>
                                <tr>
                                    <td>Workflow Type</td>
                                    <td>predictive</td>
                                </tr>
                                <tr>
                                    <td>Output</td>
                                    <td>imas:?database=ITER&user=public&shot=100001&run=1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header clearfix p-1" id="panelsStayOpen-headingTwo">
                        <span style="vertical-align: middle">
                            <input type="checkbox" class="form-check-input ms-2" />
                            <a href="simulation/uuid/b3fc50ee" class="ms-1 me-3" >b8506da6 100014/1</a>
                        </span>
                        <button class="accordion-toggle collapsed btn btn-secondary float-end" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                            <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Shot</td>
                                    <td>100014</td>
                                </tr>
                                <tr>
                                    <td>Run</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Responsible Name</td>
                                    <td>M. Schneider</td>
                                </tr>
                                <tr>
                                    <td>Workflow Name</td>
                                    <td>METIS</td>
                                </tr>
                                <tr>
                                    <td>Workflow Type</td>
                                    <td>predictive</td>
                                </tr>
                                <tr>
                                    <td>Output</td>
                                    <td>imas:?database=ITER&user=public&shot=100014&run=1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header clearfix p-1" id="panelsStayOpen-headingThree">
                        <span style="vertical-align: middle">
                            <input type="checkbox" class="form-check-input ms-2" />
                            <a href="simulation/uuid/b3fc50ee" class="ms-1 me-3" >bbf4a486 100501/1</a>
                        </span>
                        <button class="accordion-toggle collapsed btn btn-secondary float-end" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                            <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Shot</td>
                                    <td>100501</td>
                                </tr>
                                <tr>
                                    <td>Run</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Responsible Name</td>
                                    <td>M. Schneider</td>
                                </tr>
                                <tr>
                                    <td>Workflow Name</td>
                                    <td>METIS</td>
                                </tr>
                                <tr>
                                    <td>Workflow Type</td>
                                    <td>predictive</td>
                                </tr>
                                <tr>
                                    <td>Output</td>
                                    <td>imas:?database=ITER&user=public&shot=100501&run=1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/search.js') }}"></script>
</body>
{% endblock %}