{% extends 'base.html' %}

{% block body %}
<div id="app">
  <v-app>
    <v-system-bar app dark color="indigo">
      ITER Simulation Database
      <v-spacer></v-spacer>
      Version 0.1
    </v-system-bar>

    <v-app-bar app shrink-on-scroll dark color="indigo darken-2" height="80" dense>
      <v-spacer></v-spacer>
      <v-toolbar-title class="d-flex align-center" style="height: 100%;">
      <v-btn text href="." class="text-none text-h4" style="letter-spacing: 0; color: white !important;">SimDB Dashboard</v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-row>
          <v-col cols="3">
            <v-row>
              <v-subheader>Search</v-subheader>
            </v-row>
            <v-divider></v-divider>
            <search-input @search="doSearch"></search-input>
          </v-col>
          <v-col cols="9">
            <v-row>
              <v-subheader>Search Results</v-subheader>
            </v-row>
            <v-divider></v-divider>
            <search-output :query="searchQuery" :server="selectedServer"></search-output>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='dashboard/js/plotly.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/data-row.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/auth-dialog.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/search-input.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/search-output.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/index.js') }}"></script>
{% endblock %}
