{% extends 'base.html' %}

{% block body %}
<div id="app">
  <v-app>

    <v-app-bar app dark shrink-on-scroll dense color="indigo darken-2">
      <v-spacer></v-spacer>
      <v-toolbar-title><a href="/">SimDB Dashboard</a></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>


    <v-main>
      <v-container fluid>
        <v-row>
          <v-col cols="2" class="text-h5">Server</v-col>
          <v-col cols="10" class="text-h5"><[ server ]></v-col>
        </v-row>
        <v-row>
          <v-col cols="2" class="text-h5">Simulation</v-col>
          <v-col cols="10" class="text-h5"><[ uuid ]></v-col>
        </v-row>
        <v-row>
          <v-col cols="2" class="text-h5">Alias</v-col>
          <v-col cols="10" class="text-h5"><[ alias ]></v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-simple-table>
            <template>
<!--              <thead><tr><th>Key</th><th>Value</th></tr></thead>-->
              <tbody>
                <data-row v-for="(item, index) in metadata" :key="index" :label="item.element" :value="item.value" :index="index"></data-row>
              </tbody>
            </template>
          </v-simple-table>
        </v-row>
      </v-container>
    </v-main>

  </v-app>
</div>

<style lang="css">
.SkeletonBox {
	 display: inline-block;
	 vertical-align: middle;
	 background-color: #ffffff;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='dashboard/js/config.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/data-row.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/simulation.js') }}"></script>
{% endblock %}