{% extends 'base.html' %}

{% block body %}
<div id="app">
  <v-app>
    <auth-dialog :server="server" :show="dialog" @ok="setItems" @error="dialog = false"></auth-dialog>

    <v-system-bar app dark color="indigo">
      ITER Simulation Database
      <v-spacer></v-spacer>
      Version 0.1
    </v-system-bar>

    <v-app-bar app shrink-on-scroll dark color="indigo darken-2" height="80" dense>
      <v-spacer></v-spacer>
      <v-toolbar-title class="d-flex align-center" style="height: 100%">
        <v-btn text href="/" class="text-none text-h4" style="letter-spacing: 0; color: white !important;">SimDB Dashboard</v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-row dense>
          <v-col cols="2" class="text-h5">Server</v-col>
          <v-col cols="10" class="text-h5"><[ server ]></v-col>
        </v-row>
        <v-row dense>
          <v-col cols="2" class="text-h5">Simulation</v-col>
          <v-col cols="10" class="text-h5"><[ uuid ]></v-col>
        </v-row>
        <v-row dense>
          <v-col cols="2" class="text-h5">Alias</v-col>
          <v-col cols="10" class="text-h5"><[ alias ]></v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-simple-table>
            <template>
              <thead><tr><th class="pl-1">Key</th><th class="pl-2">Value</th></tr></thead>
              <tbody>
                <data-row v-for="(name, index) in displayItems" :key="index" :name="name" :value="getValue(name)" :index="index" :data="items"></data-row>
                <row-adder :server="server" @add="addRow" @reset="resetRows"></row-adder>
              </tbody>
            </template>
          </v-simple-table>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='dashboard/js/plotly.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/data-row.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/auth-dialog.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/row-adder.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/simulation.js') }}"></script>
{% endblock %}