{% extends 'base.html' %}

{% block body %}
<div id="app">
  <v-app>

    <v-app-bar app dark shrink-on-scroll dense color="indigo darken-2">
      <v-spacer></v-spacer>
      <v-toolbar-title><a href="/">SimDB Dashboard</a></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>


    <v-main>
      <v-container fluid>
        <v-row>
          <div class="text-h4">Server: <[ server ]></div>
        </v-row>
        <v-row>
          <div class="text-h4">Simulation: <[ uuid ]></div>
        </v-row>
        <v-row>
          <div class="text-h4">Alias: <[ alias ]></div>
        </v-row>
        <v-row>
          <v-simple-table>
            <template>
              <thead><tr><th>Key</th><th>Value</th></tr></thead>
              <tbody>
              <tr v-for="(item, index) in metadata" :key="index">
                <td><[ toLabel(item.element) ]></td>
                <td>
                  <div v-if="isXML(item.value)">
                    <pre>
<[ item.value ]>
                    </pre>
                  </div>
                  <div v-else-if="isArray(item.value)">
                    <plotly-container :id="'plot' + index" :data="processData(item.value)"></plotly-container>
                  </div>
                  <div v-else>
                    <[ processData(item.value) ]>
                  </div>
                </td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-row>
      </v-container>
    </v-main>

  </v-app>
</div>

<style lang="css">
.SkeletonBox {
	 display: inline-block;
	 vertical-align: middle;
	 background-color: #ffffff;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='dashboard/js/config.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard/js/simulation.js') }}"></script>
{% endblock %}